build-Malnati_Client-Desktop-Debug
build-Malnati_Client-Desktop*/
build-Malnati_Server-Desktop*/
build-Malnati_Client-Desktop_Qt_5_14_1_GCC_64bit-Debug/
build-Malnati_Server-Desktop_Qt_5_14_1_GCC_64bit-Debug/
build-Malnati_Server-Desktop-Debug
